# Quorum Studio
Build/
Run/
**/Build/
**/Run/
**/Deploy/
**/Installer/*.exe
**/Library/Compiled/
!**/Library/Compiled/License.txt

# Intellij
.idea/
*.iml
*.iws

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
